<html>
<head>
    
</head>
<body>
    <h1>hey there</h1>
    <h2 id="a"><%=accessToken%></h2>
    <h2 id="b"><%=scriptRequestUrl%></h2>
    <h2 id="c"><%=shop%></h2>
    
    <button id="btn">Turn on</button>
    <!-- jQuery CDN -->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="/ajax.js" type="application/javascript"></script>
</body>
</html>